/venv/
/.idea/
../.idea/
env/
/bot/setup.py
/bot/data/
/scraping/webinar_day_1.py
/book_projects/make_copy/client.log
/Work/env.py
/Work/kuznecov_a/Test/Top_secret/
/Work/kuznecov_a/Test/output/
/db_connection/settings.py
/qr_gen/data/
